Repository smartdevcode/pprreeccog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml

black:
  name: black
  description: Format Python code
  language: system
  entry: black

isort:
  name: isort
  description: Format Python import statements
  language: system
  entry: isort

flake8:
  name: flake8
  description: Enforce PEP8 Python Style Guide
  language: system
  entry: flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

Validator Auto Update (#84)
  .env.validator.example
  Makefile
  README.md
  precog/validators/scripts/auto_updater.py
  precog/validators/scripts/create_pm2_config.sh
  precog/validators/scripts/pm2_del.sh
Due: black, isort, flake8, check-ast

Update release notes and increment version (#87)
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Remove Timestamp Rounding Error (#88)
  precog/utils/timestamp.py
  tests/utils/test_timestamp.py
Due: black, isort, flake8, check-ast

Update version and release notes
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Release v2.2.1 (#94)
  docs/Release Notes.md
  precog/utils/timestamp.py
  pyproject.toml
  tests/test_package.py
  tests/utils/test_timestamp.py
Due: black, isort, flake8, check-ast, check-toml

Bugfix/memory leak (#95)
  precog/miners/base_miner.py
  precog/miners/miner.py
  precog/utils/cm_data.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

Release notes and version increment for 2.2.2 (#96)
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Enhancement/increased evaluation window (#91)
  precog/constants/__init__.py
  precog/utils/classes.py
  precog/utils/config.py
  precog/utils/wandb.py
  precog/validators/reward.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

release notes and version incremementing
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Update Staging (#100)
  docs/Release Notes.md
  precog/constants/__init__.py
  precog/utils/classes.py
  precog/utils/config.py
  precog/utils/wandb.py
  precog/validators/reward.py
  precog/validators/weight_setter.py
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Update Staging (#100) (#101)
  docs/Release Notes.md
  precog/constants/__init__.py
  precog/utils/classes.py
  precog/utils/config.py
  precog/utils/wandb.py
  precog/validators/reward.py
  precog/validators/weight_setter.py
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Auto Updater Scheduling (#104)
  precog/validators/scripts/auto_updater.py
  precog/validators/scripts/create_pm2_config.sh
Due: black, isort, flake8, check-ast

Auto Updater / Stash Logic (#103)
  precog/validators/scripts/auto_updater.py
Due: black, isort, flake8, check-ast

Update Bittensor Version (#102)
  poetry.lock
  pyproject.toml
Due: check-toml

Release notes and version minor increment (#105)
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Rewards Changes (#111) (#112)
  docs/Release Notes.md
  poetry.lock
  precog/utils/general.py
  precog/validators/reward.py
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Dev (#116) (#117)
  docs/Release Notes.md
  precog/validators/reward.py
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Add reward logging (#118)
  precog/validators/reward.py
Due: black, isort, flake8, check-ast

2.5.0 (#122)
  docs/Release Notes.md
  precog/utils/config.py
  precog/utils/timestamp.py
  precog/utils/wandb.py
  precog/validators/reward.py
  precog/validators/weight_setter.py
  pyproject.toml
  tests/data/btc_test_data.pkl
  tests/test_package.py
  tests/validators/test_reward.py
Due: black, isort, flake8, check-ast, check-toml

Dev (#125)
  docs/Release Notes.md
  precog/utils/config.py
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Dev (#127)
  docs/Release Notes.md
  precog/utils/config.py
  precog/utils/general.py
  precog/validators/reward.py
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Dev (#129)
  docs/Release Notes.md
  precog/utils/config.py
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

feat: upgrade bittensor to v9.9.0 (#133)
  docs/Release Notes.md
  poetry.lock
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Dev (#135)
  Makefile
  docs/Release Notes.md
  precog/constants/__init__.py
  precog/miners/base_miner.py
  precog/miners/miner.py
  precog/protocol.py
  precog/utils/classes.py
  precog/utils/cm_data.py
  precog/utils/general.py
  precog/utils/timestamp.py
  precog/utils/wandb.py
  precog/validators/reward.py
  precog/validators/scripts/auto_updater.py
  precog/validators/scripts/create_pm2_config.sh
  precog/validators/scripts/pm2_del.sh
  precog/validators/validator.py
  precog/validators/weight_setter.py
  pyproject.toml
  tests/data/btc_test_data.pkl
  tests/data/eth_test_data.pkl
  tests/data/tao_bittensor_test_data.pkl
  tests/test_package.py
  tests/validators/test_reward.py
Due: black, isort, flake8, check-ast, check-toml

v1.1
  Makefile
  precog/miners/advanced_ensemble_miner.py
  precog/miners/ensemble_miner.py
  precog/miners/lstm_miner.py
  precog/miners/miner_factory.py
  precog/miners/ml_miner.py
  precog/miners/sentiment_miner.py
  precog/miners/technical_analysis_miner.py
  precog_advanced_strategies_guide.md
  precog_architecture_analysis.md
  precog_custom_miners_usage_guide.md
  precog_debugging_guide.md
  precog_development_setup_guide.md
  precog_miner_implementation_analysis.md
  precog_performance_optimization_guide.md
  precog_reward_mechanism_analysis.md
  precog_validator_logic_analysis.md
  test_miners.py
Due: black, isort, flake8, check-ast

v1.1.1
  Makefile
Due: none

v1.1.2
  Makefile
Due: none

v1.1.3
  precog/__init__.py
Due: black, isort, flake8, check-ast

v1.1.4
  Makefile
Due: none

v1.1.5
  fix_miner_block_sync.sh
  precog/miners/miner.py
Due: black, isort, flake8, check-ast

v1.1.6
  precog/miners/advanced_ensemble_miner.py
  update_miner_for_client_requirements.sh
Due: black, isort, flake8, check-ast

v1.1.7
  improve_miner_predictions.sh
  precog/miners/advanced_ensemble_miner.py
Due: black, isort, flake8, check-ast

v1.1.8
  fix_prices_to_current_market.sh
  fix_unrealistic_prices.sh
  precog/miners/advanced_ensemble_miner.py
Due: black, isort, flake8, check-ast

v1.1.9
  debug_data_sources.py
  fix_price_correction.sh
  implement_real_time_prices.sh
  precog/miners/advanced_ensemble_miner.py
  precog/utils/real_time_prices.py
Due: black, isort, flake8, check-ast

v1.1.10
  fix_logging_display.sh
  fix_price_variation.sh
  precog/miners/advanced_ensemble_miner.py
  precog/utils/real_time_prices.py
Due: black, isort, flake8, check-ast

v1.2.0
  fix_eth_price_variation.sh
  precog/miners/advanced_ensemble_miner.py
  precog/utils/real_time_prices.py
Due: black, isort, flake8, check-ast

v1.2.1
  fix_all_price_variation.sh
  precog/miners/advanced_ensemble_miner.py
  precog/utils/real_time_prices.py
Due: black, isort, flake8, check-ast

v1.2.2
  fix_eth_real_time_prices.sh
  precog/miners/advanced_ensemble_miner.py
Due: black, isort, flake8, check-ast

v1.1.3
  fix_real_time_prices.sh
  precog/miners/advanced_ensemble_miner.py
  precog/utils/real_time_prices.py
Due: black, isort, flake8, check-ast

Path conditions:
  black: any of: \.py$, but not: (?x)^(
    .git/.*|
    docs/.*|
    .venv/.*
)$

  isort: any of: \.py$, but not: (?x)^(
    .git/.*|
    docs/.*|
    .venv/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .git/.*|
    docs/.*|
    .venv/.*
)$

  check-ast: any of: \.py$
  check-toml: any of: \.toml$
