Repository smartdevcode/pprreeccog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      ##########################
      #       FORMATTERS       #
      ##########################
      -   id: black
          name: black
          description: Format Python code
          language: system
          types: [python]
          entry: black
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                .venv/.*
            )$
      -   id: isort
          name: isort
          description: Format Python import statements
          language: system
          types: [python]
          entry: isort
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                .venv/.*
            )$

      ##########################
      #        LINTERS         #
      ##########################
    #   -   id: mypy
    #       name: mypy
    #       description: Enforce correct python type hints
    #       language: system
    #       types: [python]
    #       entry: mypy
      -   id: flake8
          name: flake8
          description: Enforce PEP8 Python Style Guide
          language: system
          types: [python]
          entry: flake8
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                .venv/.*
            )$

      ##########################
      #        STANDARD        #
      ##########################
      -   id: check-added-large-files
          name: check for added large files
          description: prevents giant files from being committed.
          entry: check-added-large-files
          language: system
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
          args: ['--maxkb=500000']
      -   id: check-ast
          name: check python ast
          description: simply checks whether the files parse as valid python.
          entry: check-ast
          language: system
          types: [python]
      -   id: check-merge-conflict
          name: check for merge conflicts
          description: checks for files that contain merge conflict strings.
          entry: check-merge-conflict
          language: system
          types: [text]
      -   id: check-toml
          name: check toml
          description: checks toml files for parseable syntax.
          entry: check-toml
          language: system
          types: [toml]
      -   id: end-of-file-fixer
          name: fix end of files
          description: ensures that a file is either empty, or ends with one newline.
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
      -   id: no-commit-to-branch
          name: "don't commit to branch"
          entry: no-commit-to-branch
          language: system
          pass_filenames: false
          always_run: true
          args: [--branch, master, --branch, staging, --branch, dev]
      -   id: trailing-whitespace
          name: trim trailing whitespace
          description: trims trailing whitespace.
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0

update where cmData is imported
  precog/miners/miner.py
Due: black, isort, flake8, check-ast

forgot to import type
  precog/miners/base_miner.py
Due: black, isort, flake8, check-ast

import time
  precog/miners/base_miner.py
Due: black, isort, flake8, check-ast

update the base miner to use a shared cache for all requests
  precog/miners/base_miner.py
  precog/miners/miner.py
Due: black, isort, flake8, check-ast

add suggested fix
  precog/utils/cm_data.py
Due: black, isort, flake8, check-ast

increment version, and add release notes
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

update readme and .env.validator.example with wandb information
  .env.validator.example
  README.md
Due: none

add more validator info to wandb config
  precog/utils/wandb.py
Due: black, isort, flake8, check-ast

edit README to docs site and remove old Incentive PDF
  README.md
  docs/precog_Incentive_mechanism.pdf
Due: none

update wandb logs to include miner hotkeys
  precog/utils/wandb.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update wandb logs to actually include hotkey
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

more updates
  precog/utils/wandb.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

force validator permit by default
  precog/utils/config.py
Due: black, isort, flake8, check-ast

Update README.md
  README.md
Due: none

update loop structure again
  precog/validators/validator.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

await available uids
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

remove run forever
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

updated poetry to install dtao deps
  .gitignore
  poetry.lock
  pyproject.toml
Due: check-toml

remove log propogation
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

refactor weight setter init
  precog/validators/validator.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

add task manager to validator.py
  precog/validators/validator.py
Due: black, isort, flake8, check-ast

add debugging for logging configuration
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

remove default log handler
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

remove retry
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

changed logging propogation
  precog/utils/bittensor.py
  precog/validators/validator.py
Due: black, isort, flake8, check-ast

add retry to subtensor initialization
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

change asyncio loop
  precog/validators/validator.py
Due: black, isort, flake8, check-ast

add debug logs
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

update debug
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

upgrade to latest 9.x
  poetry.lock
  pyproject.toml
Due: check-toml

Get latest bittensor release candidates
  poetry.lock
  pyproject.toml
Due: check-toml

Temporarily remove validator stake filter
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

Update package version and release notes
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

Upgrade bittensor SDK to 9.0.0
  poetry.lock
  pyproject.toml
Due: check-toml

requested changes
  precog/utils/timestamp.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

initialize default state if load state fails
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update validator to request timestamp that is on the interval mark exactly to ensure that all valis send the same request to each miner
  precog/utils/timestamp.py
Due: black, isort, flake8, check-ast

get_str is the same as before
  precog/utils/timestamp.py
Due: black, isort, flake8, check-ast

indentation. whoops
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

Release notes and version bump
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml
