Repository smartdevcode/pprreeccog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      ##########################
      #       FORMATTERS       #
      ##########################
      -   id: black
          name: black
          description: Format Python code
          language: system
          types: [python]
          entry: black
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                .venv/.*
            )$
      -   id: isort
          name: isort
          description: Format Python import statements
          language: system
          types: [python]
          entry: isort
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                .venv/.*
            )$

      ##########################
      #        LINTERS         #
      ##########################
    #   -   id: mypy
    #       name: mypy
    #       description: Enforce correct python type hints
    #       language: system
    #       types: [python]
    #       entry: mypy
      -   id: flake8
          name: flake8
          description: Enforce PEP8 Python Style Guide
          language: system
          types: [python]
          entry: flake8
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                .venv/.*
            )$

      ##########################
      #        STANDARD        #
      ##########################
      -   id: check-added-large-files
          name: check for added large files
          description: prevents giant files from being committed.
          entry: check-added-large-files
          language: system
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
          args: ['--maxkb=500000']
      -   id: check-ast
          name: check python ast
          description: simply checks whether the files parse as valid python.
          entry: check-ast
          language: system
          types: [python]
      -   id: check-merge-conflict
          name: check for merge conflicts
          description: checks for files that contain merge conflict strings.
          entry: check-merge-conflict
          language: system
          types: [text]
      -   id: check-toml
          name: check toml
          description: checks toml files for parseable syntax.
          entry: check-toml
          language: system
          types: [toml]
      -   id: end-of-file-fixer
          name: fix end of files
          description: ensures that a file is either empty, or ends with one newline.
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
      -   id: no-commit-to-branch
          name: "don't commit to branch"
          entry: no-commit-to-branch
          language: system
          pass_filenames: false
          always_run: true
          args: [--branch, master, --branch, staging, --branch, dev]
      -   id: trailing-whitespace
          name: trim trailing whitespace
          description: trims trailing whitespace.
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0

merge conflicts
  poetry.lock
  start_validator.py
Due: black, isort, flake8, check-ast

update .env example files
  .env.miner.example
  .env.validator.example
Due: none

update metagraph sync
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update readme
  README.md
Due: none

depreciated start_validator.py and start_miner.py so that argument parsing would work with the new config
  Makefile
  argparse_test.py
  precog/validators/validator.py
  precog/validators/weight_setter.py
  start_validator.py
Due: black, isort, flake8, check-ast

QOL config print network handling
  precog/utils/bittensor.py
  precog/validators/validator.py
Due: black, isort, flake8, check-ast

removed depreciated code
  Makefile
Due: none

new miner hotfix
  Makefile
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

depreciated utils.classes.config for utils.config
  precog/miners/miner.py
  precog/utils/classes.py
  precog/validators/validator.py
Due: black, isort, flake8, check-ast

depreciated parse_arguments
  precog/utils/general.py
Due: black, isort, flake8, check-ast

removed depreciated import
  precog/miners/miner.py
Due: black, isort, flake8, check-ast

typo
  precog/miners/miner.py
Due: black, isort, flake8, check-ast

added debug statement for miner
  precog/miners/miner.py
  precog/utils/config.py
Due: black, isort, flake8, check-ast

fixed bug where miners were defaulting to validator configs
  precog/miners/miner.py
  precog/utils/config.py
  precog/validators/validator.py
Due: black, isort, flake8, check-ast

removed extra config print from miner
  precog/miners/miner.py
Due: black, isort, flake8, check-ast

removed depreciated start_validator and start_miner
  start_miner.py
  start_validator.py
Due: black, isort, flake8, check-ast

changed the defaults in .env to remove depreciated fields
  .env.miner.example
  .env.validator.example
  Makefile
Due: none

missing \ in make
  Makefile
Due: none

pre-commit hooks
  Makefile
  argparse_test.py
  precog/miners/miner.py
  precog/utils/classes.py
  precog/utils/config.py
  precog/utils/general.py
  precog/validators/validator.py
Due: black, isort, flake8, check-ast

rolling back
  README.md
Due: none

removed license from config.py
  precog/utils/config.py
Due: black, isort, flake8, check-ast

removed test file
  argparse_test.py
Due: black, isort, flake8, check-ast

formatting
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update weight_setter.py so rewards is processed inside a try block
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

fix for uid error
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update poetry.lock
  poetry.lock
Due: none

update docs
  README.md
Due: none

update readme to include a prereqs section
  README.md
Due: none

more readme updates. Include registration instructions
  README.md
Due: none

revert axon initialization
  precog/utils/bittensor.py
Due: black, isort, flake8, check-ast

fix reward error
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

more logging
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update resync_metagraph
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update mainnet uid
  Makefile
Due: none

update testnet and mainnet UID
  README.md
Due: none

remove mention of wandb in readme
  README.md
Due: none

update version
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

precommit hooks pass
  README.md
  precog/utils/bittensor.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast

update new_miner check in weight_setter.py
  precog/validators/weight_setter.py
Due: black, isort, flake8, check-ast
